body {
    background:-moz-linear-gradient(top,rgb(0, 0, 0),rgb(50, 50, 50));/*Mozilla*/
    background:-webkit-linear-gradient(top,rgb(0, 0, 0),rgb(50, 50, 50));/*new gradient for Webkit*/
    background: -o-linear-gradient(top,rgb(0, 0, 0),rgb(50, 50, 50));
    background: -ms-linear-gradient(top,rgb(0, 0, 0),rgb(50, 50, 50));
    background: linear-gradient(top,rgb(0, 0, 0),rgb(50, 50, 50));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft Yahei","WenQuanYi Micro Hei",Arial,Verdana,sans-serif;
}
.wrapper {
    width: 100%;
}
#loginWrapper {
    background-image: url(/content/logo.jpg);
    background-repeat:no-repeat;
    background-position:center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    text-align: center;
    display: block;
    padding-top: 200px;
    z-index: 2;
}
#nickWrapper {
    display: none;
}
#info {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
#nicknameInput {
    width: 169px;
    height: 23px;
    padding: 2px 10px;
    margin-left: 4px;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    background: #fff;
    border-radius: 20px;
    border: 0;
    outline: 0;
}
#loginBtn {
    width: 193px;
    background: #666;
    border-radius: 12px;
    line-height: 1.4;
    font-size: 14px;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 40px;  
}
.pannel {
    position: fixed;
    top: 200px;
    left: 0;
    color: #fff;
    background: rgba(28,28,31,.94);
    border-radius: 0 10px 10px 0;
    z-index: 1;
}
#userList {
    list-style: none;
}
span {
    margin: 0 10px;
}
.list {
    display: inline-block;
}
#toggleUserList:hover {
    background-color:#aaa;
}

#historyMsg {
    width: 100%;
    overflow: auto;
    text-align: center;
    font-size: 18px;
    position: relative;
}
#historyMsg img {
    max-width: 50%;
}
.timespan {
    color: rgb(110, 110, 110);
}
.controls { 
    width: 100%;
    color: rgb(0, 0, 0);
    background-color:rgb(205, 205, 205);
}

ul.items {
    display: block;
    float: right;
    list-style: none;
    line-height: 20px;
    margin-bottom: 0;
}
ul.items>li{
    float: left;
    padding: 8px 5px;
}
ul.items>li:hover{
    background-color: rgba(0, 0, 255, 0.295);
}
#image {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
#sendImage {
    position:absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    filter:Alpha(Opacity=0);
    font-size: 200px;
}
#inputwrap {
    width: 60%;
    margin: 0 auto;
}
#messageInput {
    width: 100%;
    color: #000;
    border-radius: 12px;
    border-color: #555
}

#emojiWrapper {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 95px;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 12px;
    margin-right: 0;
    width: 25px;
    height: 25px;
}
#emojiWrapper img:hover {
    background-color: rgba(0, 0, 255, 0.295);
    width: 50px;
    height: 50px;
}
.emoji {
    display: inline;
}
#danmuWrapper {
    background-color:#000;
    filter:Alpha(Opacity=80);
    opacity:0.8;
}
#showDanmu {
    width: 90%;
}
/* #musicWrapper {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 95px;
    background-color: #aaa;
    color: #000;
    border-radius: 3px;
} */
#playlistWrapper {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 95px;
    background-color: #aaa;
    color: #000;
    border-radius: 3px;
}
#playlistDiv {
    width: 80%;
    margin: 0 auto;
}

/* #musicDiv {
    float: right;
    width: 80%;
    margin: 0 auto;
} */
#playlistUl {
    list-style: none;
}
#playlistUl>li:hover {
    background-color: rgba(0, 0, 255, 0.295);
    cursor:pointer;
}